@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: transparent;
    padding-bottom: 80px;
    position: fixed;
    width: 89rem;
    z-index: 10;
}
header:hover{
    transition: 0.5s;
    background-color:color-mix(in oklab, rgb(44, 44, 44) 100%, rgba(151, 151, 151, 0.445) 25%);
    z-index: 10;
    border-radius: 2%;
}
#webtitle{
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px black;
    font-size: 50px;
    left: 42%;
    top: 0;
    position: fixed;
    
    flex: 1 0 25%;
}
#webtitle2{
    
    flex: 1 0 25%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px black;
    font-size: 20px;
    top:48px;
    left: 41.5%;
    position: fixed;
    z-index: 2;
}
#Homelogo{
    top: 10%;
    position: absolute;
    right: 95%;
    font-size: 50px;
}



/*Eto ung slide pictures AFAIK*/
.container{
    padding: 0.5rem;
}
.noveskeslide-wrapper{
    position: absolute;
    max-width: 90rem;
    margin:  auto;
}
.noveskeslide{
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.80rem hsla(0, 0%, 0%, 0.25);
    scroll-behavior: smooth;
    border-radius: 1%;
}
.noveskeslide img{
    flex: 1 0 25%;
    column-gap: 1rem;
    
}

/*NAVIGATIONS TO*/
.navicons{
    font-family: "Zalando Sans", sans-serif;
    font-size: 25px;
    padding-top: 2%;
    padding-left: 85%;
    display: flex;
    position: fixed;
    gap: 2rem;
    z-index: 10;
}
.navicons a{
    text-decoration: none;
}
.search-button{
    background-color: transparent;
    border-style: hidden;
    color: white;
    font-size: 20px;
}
#slide1{
    width: 860px;
    height: 410;
}
#slide2{
    width: 860px;
    height: 410;
}
#slide3{
    width: 860px;
    height: 410;
}
.noveskenav{
    position: absolute;
    display:flex;
    column-gap: 2rem;
    left: 48%;
    top: 75%;
    transform: translateX(-50%);
    z-index: 1;
    
}
.noveskenav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}
.noveskenav a:hover{
    background-color: rgb(255, 255, 255);
    opacity: 1;
}









@keyframes movePop{
    from{
        transition: 500ms;
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        transition: 600ms;
        opacity: 1;
        transform: translateY(20%);
    }
}