@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: transparent;
    padding-bottom: 85px;
    position: fixed;
    width: 89rem;
    z-index: 10;
}
header:hover{
    transition: 0.5s;
    background-color:#5C5551;
    z-index: 10;
    border-radius: 2%;
}
.isthistheend/*FOOTER*/{
    padding-left: 5%;
    margin-top: 10%;
    background-color: #5C5551;
    font-size: 50px;
}
#webtitle{
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px black;
    font-size: 50px;
    padding-left: 40%;
    top: 0;
    position: fixed;
}
#webtitle2{
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px black;
    font-size: 20px;
    top:48px;
    padding-left: 41.5%;
    position: fixed;
    z-index: 2;
}
.container{
    padding: 1rem;
}
.noveskeslide-wrapper{
    position: absolute;
    max-width: 90rem;
    margin: 2 auto;
}
.noveskeslide{
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.80rem hsla(0, 0%, 0%, 0.25);
    scroll-behavior: smooth;
    border-radius: 1%;
}
.noveskeslide img{
    flex: 1 0 25%;
    column-gap: 1rem;
    
}
.navicons/*NAV TO*/{
    font-family: "Zalando Sans", sans-serif;
    font-size: 25px;
    padding-top: 2%;
    padding-left: 85%;
    display: flex;
    position: fixed;
    gap: 2rem;
    z-index: 10;
}
.navicons a{
    text-decoration: none;
}
.search-button{
    background-color: transparent;
    border-style: hidden;
    color: white;
    font-size: 20px;
}
#slide1{
    width: 860px;
    height: 410;
}
#slide2{
    width: 860px;
    height: 410;
}
#slide3{
    width: 860px;
    height: 410;
}
.noveskenav{
    position: absolute;
    display:flex;
    column-gap: 2rem;
    left: 48%;
    top: 75%;
    transform: translateX(-50%);
    z-index: 1;
    
}
.noveskenav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}
.noveskenav a:hover{
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.noveske1 {
    color:rgb(255, 255, 255);
    padding-top: 12%;
    font-family: "Zalando Sans", sans-serif;
    padding-top:10%;
    padding-left: 50px;
    z-index:1;
    animation: movePop 10s ease;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}
.noveske1 h1{
    font-weight: bolder;
    font-size: 45px;
}
.noveske1 p{
    font-size: 15px;
}
.sec2{
    color:white;
    margin-top: 20%;
    font-family: "Zalando Sans", sans-serif;
    padding-left: 50px;
    animation: movePop 10s ease;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}
.sec3{
    color:white;
    margin-top: 20%;
    font-family: "Zalando Sans", sans-serif;
    padding-left: 50px;
    animation: movePop 10s ease;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}
@keyframes movePop{
    from{
        transition: 500ms;
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        transition: 600ms;
        opacity: 1;
        transform: translateY(20%);
    }
}@media (max-width: 768px) {
    header {
        width: 100%;
    }
    .navicons {
        display: none;
    }
    .noveskeslide img {
        max-width: 100%;
        height: auto;
    }
    #webtitle {
        font-size: 7vw;
        padding-left: 35%;
    }
    #webtitle2 {
        font-size: 3vw;
        padding-left: 37%;
    }
    .noveske1 h1 {
        font-size: 8vw;
    }
    .noveske1 p {
        font-size: 4vw;
    }
    .noveskenav{
        top: 30%;
    }
}