@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    
}
body{
    background-color: rgb(0, 0, 0);
    padding: 2px;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-family: "Bitcount Grid Single", system-ui;
    overflow-x: hidden;
    font-size:18px;
    max-width: 1200px;
}
html{
    scroll-behavior: smooth;
}
header{
    top: 0%;
    background-color: rgba(255, 0, 0, 0.301);
    padding: 2rem 0rem;
    width: 100%;
    position: fixed;
}

#EdithTitle{
    color: goldenrod;
    margin-left: 25px;
    font-size: 30px;
}
#a1{
    color: rgb(255, 255, 255);
    right: 50%;
    margin-left: 25px;
}
.navi{
    display: flex;
  position: fixed;
  max-width: 75%;
  margin: 0;
  left: 25%;
  margin-top: -25px;
  font-size: 25px;
}
.navlist{
    display: flex;
    gap: 5rem;
}
li{
    list-style: none;
    display: inline-block;
}
#nav1/*Contact Us*/{
    color:goldenrod;
    margin-left: 25rem;
    text-decoration: none;
    border-style: none none dashed;
    border-color: goldenrod;
}
#nav1:hover{
    color:rgb(255, 255, 255);
    border-style: none none dashed;
    border-color: rgb(255, 255, 255);
}
#nav2 /*Sign In*/{
    
    color:goldenrod;
    text-decoration: none;
    border-style: none none dashed;
    border-color: goldenrod;
}
#nav2:hover{
    color:rgb(255, 255, 255);
    border-style: none none dashed;
    border-color: rgb(255, 255, 255);
}
#nav3/*Sign up*/{
    color:goldenrod;
    text-decoration: none;
    border-style: none none dashed;
    border-color: goldenrod;
}
#nav3:hover{
    border-style: none none dashed;
    border-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);;
}
@media (max-width: 879px) /*Selpon*/ {
    *{
        top: 0;
        left: 0;
        max-width: 350px;
        height: 450px;
    }
    
    .navlist{
        gap: 0.5rem;
    }
    .navi {
        padding: 0 15px;
        display: flex;
        max-width: 250px;
  }
  #noveskeTM{
    font-size: 10px;
  }
} 
p{
    color: aliceblue;
}

section{
    align-items: center;
    margin: 60px;
    padding-bottom: 2rem;
    padding-top: 1rem;
    flex-wrap:wrap;
}
.sec1{
    align-items: center;
    margin-top: 10rem;
}
span{
    color: red;
}
img{
    width:100%;
    max-width: 1280px;
}
#noveskeTM{
    position: center;
    margin-left: 35%;
    margin-right: 45%;
    font-size: 15px;
}
#noveskemore{
    color: red;
    text-decoration: none;
    border-bottom: dashed;
}
#noveskemore:hover{
    color:blue;
}