@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
*

*{
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    font-family: "Bitcount Grid Single", system-ui;
}
h2{
    font-size: 30px;
    color:goldenrod;
    position: relative;
    justify-content: center;
    align-items: center;
    right: -38%;
}